/*chinese page*/
/*  https://github.com/genderdoog/doppelganger   */


/*removes all text formatting*/
* {
	margin: 0;
	padding: 0;
}

/*sets up arial font for document*/
html {
	font-family: arial;
}
	
	
/*removes underline from text header2 and login button*/
a {
	text-decoration: none;
}

/*custom cursor*/
a:hover, body, button:hover, input:hover {
	cursor: url("assets/cursor/cursor.png") 0 0, auto;
}

/*add spacing to bottom of page to recreate source material*/
body {
	padding-bottom: 20vw; /*based on viewport*/
}

/*centers both headings to the viewport*/
.header1, .header2 {
	margin-left: 10vw; 
	margin-right: 10vw;
}

/*gets rid of bulletpoints for both headings*/
.header2-links, .header1-links {
	list-style: none; 
}

/*lines up each element in header1*/
.header1-links {
	display: flex;
}

/*sets up margins between heading1 and heading 2*/
.header1 {
	margin-top: 1vw;
	margin-bottom: 0.2vw;
}

/*font settings for "The Wonderful World of"*/
.header1-title-TWWO {
	font-family: "Comfortaa", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2vw;
	color: rgb(112, 191, 213);	
}

/*fixes centering weirdness with the title*/
.header1-title-TWWO-div {
	display: flex;
    justify-content: center;
    align-items: center
}

/*font settings for "CHICHI"*/
.header1-title-char1, .header1-title-char2, .header1-title-char3 {
	font-family: "Bakbak One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.8vw;
	align-content: center;
}

/*this is terrible, im sorry*/
.header1-title-char1 {
	color: rgb(194, 214, 62);
}

.header1-title-char2 {
	color: rgb(241, 82, 138);
}

.header1-title-char3 {
	color: rgb(54, 183, 234);
}

/*inline text for title*/
.header1-title-text, .header1-title-search {
	display: flex;
}

.header1-title-text {
	padding-left: 5.8vw;
	padding-right: 23vw;
}

.header1-input {
	display: flex;
}

.header1-input-box {
	align-content: center;
	padding-right: 8vw;
}

.header1-title-margin {
	margin-left: 1vw;
	display: flex;
}

/*input box*/
.header1-search-box {
	border: 0.3vw solid rgb(129, 143, 178);
	border-radius: 2px;
	font-size: 1vw;
	width: 15vw;
}

/*submit button*/
.header1-search-button {
	font-size: 1.2vw;
	border: 0.3vw solid rgb(185, 183, 180);
	border-radius: 9px;
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(137, 135, 135);
	margin-left: 0.5vw;
	padding-right: 1vw;
	padding-left: 1vw;
}

/*sign in text for header1*/
.header1-logon {
	color: grey;
	font-size: 1.6vw;
	display: block; /*fixes weird padding on top*/
	padding-top: 0.8vw;
}

/*sets up margin between heading 2 and the poster*/
.header2 {
	margin-bottom: 0.6vw;
}

/*sets up global values for links*/
.header2-links {
	display: flex; /*even spacing*/
	justify-content: space-between; /*even spacing for heading2 links*/
}

/*sets up nav bar*/
.header2-nav {
	background-color: rgb(231, 81, 81); /*red*/
	padding-left: 7.5vw; /*padding left side is larger than on the right*/
	padding-right: 3vw;
}

/*sets up links for nav bar*/
.header2-links {
	padding: 0.2vw; 
	font-size: 1.6vw;
	
}

/*sets font color to white*/
.header2-hyperlinks {
	color: white;
}






/*poster div*/
.poster-container {
	margin-left: 10vw; /*centers poster*/
	margin-right: 10vw; /*centers poster*/
	padding-right: 23vw; /*resizes poster*/
	padding-left: 23vw; /*resizes poster*/
}

/*poster sizing*/
.poster-image-settings {
	width: 100%;
}








/*character content*/
.character {
	display: flex;
	padding-top: 4vw;
	padding-left: 25vw; /*controls how much space it is from left of viewport*/
}

/*controls entire div of each character*/
.character-content {
	display: flex; /*makes image and text inline*/
}

.character-images {
	height: 12vw;
	width: auto;
}

/*div used for text*/
.character-text-container {
	padding-top: 2vw;
	padding-left: 2.5vw; /*controls space between image and text*/
}


.character-text-settings {
	padding: 0.1vw; /*used to remove spacing from text*/
	font-size: 1.3vw; 
}


.character-name-font {
	font-family: "Comfortaa", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.3vw;
	color: rgb(231, 81, 81);
	padding-bottom: 0.5vw;

}

/*right click context menu*/

#customMenu {
	position: absolute;
	display: none;
	background-color: white;
	border: 0.2vw solid #ccc;
	box-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.18);
	z-index: 1000;
	padding-top: 0.6vw;
	padding-bottom: 0.6vw;
	border-radius: 1.2vw;
	width: 15.5vw;
}
    
#customMenu a {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 1.6vw;
	padding-top: 0.2vw;
	padding-right: 0.5vw;
	padding-bottom: 0.2vw;
	padding-left: 2vw;
}
    
#customMenu a:hover {
	background-color: #f0f0f0;
}

/*horizontal line*/
#customMenu hr {
	border: 0.1vw solid #ccc;
	margin-top: 0.8vw;
	margin-bottom: 0.8vw;
}


/*translation feature*/

.chinese-flex-style {
	display: flex;
}

.english-flex-style {
	display: none;
}

.chinese-block-style {
	display: block;
}

.english-block-style {
	display: none;
}