/*  https://github.com/genderdoog/doppelganger   */


/*sets up arial font for document*/
html {
	font-family: arial;
}
	

/*removes underline from text header2 and login button*/
a {
	text-decoration: none;
}

/*custom cursor*/
a:hover, body, button:hover, input:hover {
	cursor: url("assets/cursor/cursor.png") 0 0, auto;
}

/*add spacing to bottom of page*/
body {
	padding-bottom: 20vw; /*based on viewport*/
}

/*centers headings*/
.header1, .header2 {
	margin-left: 10vw; 
	margin-right: 10vw;
}

/*sets up global values for links*/
.header1-links, .header2-links {
	list-style: none; /*gets rid of bulletpoints*/
	display: flex; /*even spacing*/
	justify-content: space-between; /*even spacing*/
}







/*formats text*/
.header1-links {
	align-items: center;
	padding-inline-start: 3vh;
}

/*sign in text for header1*/
.header1-logon {
	color: grey;
	font-size: 2vh;	
}

/*submit button*/
.header1-search-button {
	padding-left: 2.5vh; /*makes button larger*/
	padding-right: 2.5vh; /*makes button larger*/
	width: 10vw;
	font-size: 1vw;
}

.header1-search-box {
	outline-style: solid;
	outline-color: blue;
	outline-width: 3px;
	width: 15vw;
	height: auto;
}

.header1-title {
	font-family: "Comfortaa", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2vh;
	color: rgb(131, 206, 218);	
}

/*logo settings*/
.header1-logo {
	display: flex;
	align-items: center;
	width: 15vh;
	height: 100%;
	margin-left: 2vh;
}

.header1-logo-container {
	display: flex;
}





/*sets up nav bar*/
.header2-nav {
	background-color: rgb(231, 81, 81); /*red*/
	padding-left: 8vw; /*padding left side is larger than on the right*/
	padding-right: 2vw;
}

/*sets up links for nav bar*/
.header2-links {
	padding: 10px; 
	font-size: 1.4vw;
	
}

/*sets font color to white*/
.header2-hyperlinks {
	color: white;
}






/*Horizontally center content*/
.poster-container {
	display: flex;
	justify-content: center; 
}

/*image sizing*/
.poster-image-settings {
	height: 80vh;	
	width: auto;
}









.character-container {
	display: flex;
	justify-content: center;
	padding-top: 8vh;
}


.character-images {
	width: 100%;
	height: auto;

}

.character-image-container {
	width: 180px; 
	height: 180px;
}

.character-text-container {
	margin-left: 40px;
}

.character-text-settings {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

.character-centering {
	display: flex;
	width: 800px;
}

.character-name-font {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 8px;
  color: rgb(231, 81, 81);
}